*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #2E2D2D;
}
.header {
  background-image: url("src/Portada.jpg");
  color: #fff;
}
.header_titulo{
  text-align: center;
  padding: 10px;
  font-family: georgia;
  padding-bottom: 5px;
}
.header_parrafo{
  text-align: center;
  padding-bottom: 10px;
}
.options{
  background: #1E1D1D;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
.options_button{
  margin: 13px 0px;
  text-decoration: none;
  color: #fff;
  background: #2E2D2D;
  padding: 6px 40px;
  transition: .9s;
}
.options_button:hover{
  color: orange;
  background: #4F4F52;
}
.Portada_img{
  width: 100%;
  height: 350px;
}
.Portada_img img{
  width: 100%;
  height: 100%;
}
.secciones{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.secciones_mods{
  width: 45%;
  background: #514E4E;
  margin-top: 40px;
  border-radius: 5px;
}
.secciones_mods-titulo{
  text-align: center;
  color: #fff;
  margin-top: 13px;
  font-size: 21px;
}
.secciones_mods-img{
  width: 50%;
  position: relative;
  left: 24%;
  margin-bottom: 45px;
}
.secciones_button{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background: dimgrey;
  padding: 10px 30px;
  text-decoration: center;
  border-radius: 5px;
  position: relative;
  right: 22%;
  bottom: 10%;
  transition: all 1s;
}
.secciones_button:hover{
  border-radius: 5px;
  color: orange;
}
.secciones_plugins {
  width: 45%;
  background: #514E4E;
  margin-top: 40px;
  border-radius: 5px;
}
.secciones_plugins-titulo{
  text-align: center;
  color: #fff;
  margin-top: 13px;
  font-size: 21px;
}
.secciones_plugins-img{
  width: 50%;
  position: relative;
  left: 24%;
  margin-bottom: 45px;
}
.secciones_button-pl{
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  background: dimgrey;
  padding: 10px 30px;
  text-decoration: center;
  border-radius: 5px;
  position: relative;
  right: 22%;
  bottom: 10%;
  transition: all 1s;
}
.secciones_button-pl:hover{
  border-radius: 5px;
  color: orange;
}
