<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Minecraft Proyects - Plugins</title>
    <link rel="stylesheet" href="../style.css">
    <link rel="stylesheet" href="../fontm.css">
    <link rel="stylesheet" href="plugins.css">
    <link rel="icon" href="../imgs/icon.png">
    <script src="https://kit.fontawesome.com/a8192839c1.js" crossorigin="anonymous"></script>
</head>
<body>
    <nav class="nav">
      <i class="fa-solid fa-x"></i>
        <div class="conten-navs-childs">
          <div class="logo-imgT">
            <a href="../index.html"><img src="../imgs/icon.png" alt="Logo" class="lg-"></a>
            <p class="title- p">Minecraft <br>Proyect</p>
          </div>
      
          <div class="ul-navbar">
            <ul>
              <li><a class="a-" href="../index.html">Inicio</a></li>
              <li><a class="a- view" href="plugins.html">Plugins</a></li>
            </ul>
          </div>
        </div>
        
      </nav>

      <main class="main-window">
        <header class="header-">
          <i class="fa-solid fa-bars"></i>
          <img src="../imgs/icon.png" class="responsive-icon">
          <p class="responsive-title">MinecraftProyect</p>
        </header>
        <h1 class="black bold shadow title--">PLUGINS</h1>
        <div class="search-conten">
          <input type="text" placeholder="Buscar plugin..." class="search" id="buscador">
        </div>
        <div class="section-container">
          <section class="pplugins-public">
            <div class="pl-public- articulo">
              <div class="img-conten-pl">
                <img src="../imgs/portada.png" class="pl-public-img">
              </div>
              <h3 class="pl-public-t">ChestCommands</h3>
              <p class="pl-public-p">SpigotMC: <a href="https://acortar.link/FWWAOv" class="url-">Spigot Profile</a></p>
              <div class="conten-button">
                <a download="../index"><button class="button-">Descargar</button></a>
              </div>
            </div>
            <div class="pl-public- articulo">
              <div class="img-conten-pl">
                <img src="../imgs/luckperms.png" class="pl-public-img">
              </div>
              <h3 class="pl-public-t">LuckPerms</h3>
              <p class="pl-public-p">SpigotMC: <a href="https://acortar.link/FWWAOv" class="url-">Spigot Profile</a></p>
              <div class="conten-button">
                <a download="../index"><button class="button-">Descargar</button></a>
              </div>
            </div>
          </section>
        </div>
      </main>
      <script src="../scripts/plugin.js"></script>
      <script src="../scripts/main.js"></script>
</body>
</html>